<!-- NavBar with Search Bar and User Avatar and Cart Icon -->

<div class="header">
   <img src="../../../../assets/Logo/BookStoreLogo.png" alt="Book Store" class="logo">
   <h2 class="heading">Bookstore</h2>
    <div class="search-bar">
        <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="onSearch()" placeholder="Search for books" class="search-input">
    </div>
    <div class="user-cart">
        <div>
            <img src="../../../../assets/Logo/person.svg" alt="User" class="user-avatar">
            <p class="userName">Profile</p>
        </div>
        <div>
            <img src="../../../../assets/Logo/cart.svg" alt="Cart" class="cart-icon">
            <p class="cartName">Cart</p>
        </div>
    </div>     
</div>

<app-books-container></app-books-container>
<router-outlet></router-outlet>