.main-container {
  .topmsg {
    margin-left: 13%;
    text-align: left;
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0%;
    color: #0a0102;
    text-transform: capitalize;
    opacity: 1;
  }

  width: 35%;
  height: auto;
  margin-left: 35%;
  margin-top: 10%;

  .email-container {
    height: 52%;
    margin-top: 5px;
    margin-left: 20px;
    border: 1px solid #e4e4e4;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    opacity: 1;
  }

  .forgetmsg {
    width: auto;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
  }

  .mail-content {
    height: auto;
    top: -8px;
    padding: 40px;
  }

  .inputbox {
    height: 30px;
    width: 89%;
  }

  .resetbtn {
    background-color: #a03037;
    color: white;
    width: 92%;
    height: 30px;
    border: none;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
  }

  .btndiv {
    width: auto;
    height: 60px;
    background: #F9F9F8 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 0px 0px 6px 6px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .createbtn {
    font-size: 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }

}