<div class="main-container">
  <div class="topmsg">
    <h2>Forgot your Password?</h2>
  </div>

  <div class="email-container">
    <div class="mail-content">
      <h3 class="forgetmsg">
        Enter your email address and we'll send you <br> a link to reset your password.
      </h3>

      <form id="forgot-password">
        <label for="email"> Email id</label>
        <br />
        <input class="inputbox" type="email" id="email" name="email" required />
        <br /><br />
        <button class="resetbtn" type="submit">Reset Password</button>
      </form>
    </div>

    <div class="btndiv">
      
        <div class="createbtn" [routerLink]="['/loginSignup']">
           <span>CREATE ACCOUNT</span>
        </div>
    </div>
  </div>
</div>
