<!-- When Wishlist is empty -->

<div class="main-container" *ngIf="isEmpty">
  <div class="msg-container">
    <div>
      <span class="topmsg">PLEASE LOG IN</span>
    </div>
    <div class="msg">
      <span class="loginViewmsg">Login to view items in your wishlist.</span>
    </div>
  </div>
  <div class="imgdiv">
    <img src="../../../../assets/wishlistlogin.png" alt="" />
  </div>
  <div class="btn-container">
    <div class="btn">
      <button (click)="login()">LOGIN/SIGNUP</button>
    </div>
  </div>
</div>

<!-- When Wishlist is not empty -->

<div class="wishlist-container" *ngIf="!isEmpty">
    <div class="heading">
      <h1 style="padding-left: 15px;">My Wishlist (02)</h1>
    </div>
      <mat-card class="wishlist-item">
        <div class="item-content">
          <mat-card-header>
            <div mat-card-avatar class="book-image">
              <img src="../../../../assets/Books/Book1.png" height="90px" width="70px">
            </div>
            <mat-card-title>Don't Make Me Think</mat-card-title>
            <mat-card-subtitle>by Steve Krug<p style="color: black; margin-top: 10px;"><b>Rs. 1500</b><s>Rs.2000</s></p></mat-card-subtitle>
            <mat-icon>delete</mat-icon>
          </mat-card-header>
        </div>
      </mat-card>
   
      <mat-card class="wishlist-item">
        <div class="item-content">
          <mat-card-header>
            <div mat-card-avatar class="book-image">
              <img src="../../../../assets/Books/Book2.png" height="90px" width="70px">
            </div>
            <mat-card-title>React Material-UI</mat-card-title>
            <mat-card-subtitle>by Cookbook<p style="color: black; margin-top: 10px;"><b>Rs. 780</b><s>  Rs.2000</s></p></mat-card-subtitle>
            <mat-icon>delete</mat-icon>
          </mat-card-header>
        </div>
      </mat-card>
    </div>
    
<router-outlet></router-outlet>
