<div class="book-list">
    <mat-card class="book-card">
       <div style="display: flex; justify-content: space-between;">
     <mat-card-header>
       <div mat-card-avatar class="book-image">
       <img src="../../../../assets/Books/Book1.png" height=90px width=70px></div>
       <mat-card-title>Don't Make Me Think</mat-card-title>
       <mat-card-subtitle>by Steve Krug<p style="color: black; margin-top: 10px;"><b>Rs. 1500</b><s>Rs.2000</s></p></mat-card-subtitle>
      </mat-card-header>
     <mat-card-content>
       <b><p style="float: right;  margin-top: 20px">Order Placed on May 21</p></b>
     </mat-card-content>
   </div>
   </mat-card>

   <mat-card class="book-card">
       <div style="display: flex; justify-content: space-between;">
     <mat-card-header>
       <div mat-card-avatar class="book-image">
       <img src="../../../../assets/Books/Book2.png" height=90px width=70px></div>
       <mat-card-title>React Material-UI</mat-card-title>
       <mat-card-subtitle>by Cookbook<p style="color: black; margin-top: 10px;"><b>Rs. 780</b><s>  Rs.2000</s></p></mat-card-subtitle>
      </mat-card-header>
     <mat-card-content>
       <b><p style="float: right; margin-top: 20px;">Order Placed on April 06</p></b>
     </mat-card-content>
   </div>
   </mat-card>
 </div>

 <app-footer></app-footer>
<router-outlet></router-outlet>