<router-outlet></router-outlet>
<div class="detailsHeading">
    <h2>Personal Details</h2>
    <button>Edit</button>
</div>
<div>
    <form class="personalDetailsForm">
        <div class="InputField">
            <mat-label>Full Name</mat-label>
            <mat-form-field class="userName">
              <input matInput placeholder="Enter Name" name="name">
            </mat-form-field>
        </div>
        <div class="InputField">
            <mat-label>Email</mat-label>
            <mat-form-field class="userEmail">
                <input matInput type="email" placeholder="Ex. pat@example.com" name="email">
            </mat-form-field>
        </div>
        <div class="InputField">
            <mat-label>Enter your password</mat-label>
            <mat-form-field class="userPaaword">
                <input matInput type="password" placeholder="Enter Password" name="password"/>
            </mat-form-field>
        </div>
        <div class="InputField">
            <mat-label>Mobile Number</mat-label>
            <mat-form-field class="userMobileNumber">
              <input matInput type="text" placeholder="Enter Mobile Number" name="mobileNumber">
            </mat-form-field>
        </div>
    </form>
</div>
<div class="detailsHeading">
    <h2>Address Details</h2>
    <button class="newAddress">Add New Address</button>
</div>
<div class="detailsHeading">
    <h3>1.WORK</h3>
    <button>Edit</button>
</div>
<div>
    <form>
        <div class="InputField">
            <mat-label>Address</mat-label>
            <mat-form-field>
                <textarea matInput placeholder="Enter Address"></textarea>
            </mat-form-field>
        </div>
        <div class="CityState">
            <div class="InputField1">
                <mat-label>City</mat-label>
                <mat-form-field>
                    <input matInput placeholder="Enter City">
                </mat-form-field>
            </div>
            <div class="InputField1">
                <mat-label>State</mat-label>
                <mat-form-field>
                    <input matInput placeholder="Enter State">
                </mat-form-field>
            </div>
        </div>
        <div class="InputField1">
            <mat-label>Type</mat-label>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Home</mat-radio-button>
                <mat-radio-button value="2" class="rb1">Work</mat-radio-button>
                <mat-radio-button valur="3" class="rb1">Other</mat-radio-button>
            </mat-radio-group>
        </div>
    </form>
</div>

