.BookContainerHeading{
    display: flex;
}

.sideHeading{
    opacity: 1;
    display:flex;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:120px;
}

h3{
    margin-top: 24px;
    margin-left: 3px;
    font-size: 10px;
    color: #878787;
}

mat-form-field {
    border: black 1px 1px 0px 1px solid;
    margin-top: 20px;
    margin-left: 20px;
    margin-left: 650px;
}

.Bookstored{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 30px 30px 30px;
}

