.BookContainerHeading,.Bookstored{
    display: flex;
    margin-left: 10%;
    // margin-right: 10%;
}

.sideHeading{
    opacity: 1;
    display:flex;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
    // margin-left:120px;
}

h3{
    margin-top: 24px;
    margin-left: 3px;
    font-size: 10px;
    color: #878787;
}

mat-form-field {
    border: black 1px 1px 0px 1px solid;
    margin-top: 20px;
    margin-left: 20px;
    margin-left: 650px;
}

.Bookstored{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 30px 30px 30px;
}

//PAGINATOR STYLES

.paginator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .paginator-button {
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 10px;
  }
  
  .paginator-container span {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .paginator-container span.active {
    font-weight: bold;
    text-decoration: underline;
  }
  
