<div class="main-container">
  <div class="orderedPlacedimg">
    <img class="topimg" src="../../../../assets/orderedPlaced.png" alt="" />
  </div>
  <div class="orderedmsg">
    <span>hurray!!! your order is confirmed <br /></span>
    <span>the order id is #123456 save the order id for <br /></span>
    <span> further communication..</span>
    >
  </div>
  <div class="userdetails">
    <div class="adminheader">
      <span style="width: 32%; margin-left: 2%;">Email us</span>
      <span style="width: 32%; margin-left: 4%;">Contact us</span>
      <span style="width: 36%; margin-left: 15%;">Address</span>
    </div>

    <div class="admincontact">
      <div class="adminEmail">
        <span >admin@bookstore.com</span>
      </div>

      <div class="adminNo">
        <span>+91 8163475881</span>
      </div>
      <div class="adminaddress">
        <span>
          42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near
          Kumarakom restaurant, HSR Layout, Bangalore 560034</span>
      </div>
    </div>
  </div>

  <div class="btndiv">
    <button class="Shopingbtn" (click)="continueShopping()" style="cursor: pointer;">CONTINUE SHOPPING</button>
  </div>
</div>
