<div class="bookDetail">
    <div class="nav"><span class="back">Home</span> / <span class="current">Book(01)</span></div>
    <div class="main">
        <div class="sideImages">
            <div class="sideImage selected"><img src="../../../../assets/bookDetail/Image 1.png" alt=""></div>
            <div class="sideImage"><img src="../../../../assets/bookDetail/Image 46.png" alt=""></div>
        </div>
        <div class="mainPart">
            <div>
                <div class="mainImage">
                    <img src="../../../../assets/bookDetail/Image 11.png" alt="">
                </div>


            </div>

            <div class="mainComponent">
                <div class="bookDetailContent">
                    <div class="title">
                        Don't Make Me Think
                    </div>
                    <div class="author">
                        by Steve Krug
                    </div>
                    <div class="rating">
                        <div class="stars">4.5<svg xmlns="http://www.w3.org/2000/svg" height="16px"
                                viewBox="0 -960 960 960" width="20px" fill="#ffffff">
                                <path
                                    d="m243-144 63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
                            </svg></div>
                        <div class="count">(20)</div>
                    </div>
                    <div class="price">
                        <div class="currentPrice">Rs .1500</div>
                        <div class="lastPrice"><del> Rs .2000</del></div>
                    </div>

                </div>
                <hr>

                <div class="bookDescription">
                    <div class="title">
                        &#8226; Book Detail
                    </div>


                    <div class="bookDetailPara">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                        anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on
                        the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
                        sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum
                        is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </div>

                </div>
                <hr>
                <div class="customerReview">
                    <div class="title">
                        Customer Feedback
                    </div>
                    <div class="ratingBox">
                        <div class="title">Overall rating</div>
                        <div class="stars">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                                fill="#707070">
                                <path
                                    d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                                fill="#707070">
                                <path
                                    d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                                fill="#707070">
                                <path
                                    d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                                fill="#707070">
                                <path
                                    d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                                fill="#707070">
                                <path
                                    d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
                            </svg>
                        </div>
                        <div class="feedback"><input type="text" placeholder="Write your review"></div>
                        <div class="submitButton">
                            <button type="submit">submit</button>
                        </div>

                    </div>
                    <div class="reviewComments">
                        <div class="comment">
                            <div class="left">
                                <div class="profilePic">AC</div>
                            </div>
                            <div class="right">
                                <div class="name">Anurag Chahal</div>
                                <div class="stars">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#FFCE00">
                                        <path
                                            d="m243-144 63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#FFCE00">
                                        <path
                                            d="m243-144 63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#FFCE00">
                                        <path
                                            d="m243-144 63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#707070">
                                        <path
                                            d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#707070">
                                        <path
                                            d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
                                    </svg>
                                </div>
                                <div class="feedback">
                                    Good product. Even though the translation could have been better, Chanakya's neeti
                                    are thought provoking. Chanakya has written on many different topics and his
                                    writings are succinct.
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="left">
                                <div class="profilePic">AC</div>
                            </div>
                            <div class="right">
                                <div class="name">Anurag Chahal</div>
                                <div class="stars">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#FFCE00">
                                        <path
                                            d="m243-144 63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#FFCE00">
                                        <path
                                            d="m243-144 63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#FFCE00">
                                        <path
                                            d="m243-144 63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#707070">
                                        <path
                                            d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#707070">
                                        <path
                                            d="m352-293 128-76 129 76-34-144 111-95-147-13-59-137-59 137-147 13 112 95-34 144ZM243-144l63-266L96-589l276-24 108-251 108 252 276 23-210 179 63 266-237-141-237 141Zm237-333Z" />
                                    </svg>
                                </div>
                                <div class="feedback">
                                    Good product. Even though the translation could have been better, Chanakya's neeti
                                    are thought provoking. Chanakya has written on many different topics and his
                                    writings are succinct.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>