:host ::ng-deep .mat-typography {
    margin: 0 !important;
}

.bookDetail{
    margin-left: 100px;
    margin-right: 100px;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;

    .back {
        color: #9D9D9D;
    }
   .back{
    cursor: pointer;
   }
}

.main {
    display: flex;
    

}

.sideImages {
    display: flex;
    flex-direction: column;

}

.sideImage {
    border: 1px solid #D1D1D1;
    border-radius: 1px 1px 1px 0px;
    padding: 5px 5px 1px 5px;

}

.selected {
    background: #FFE7E9 0% 0% no-repeat padding-box !important;
    border: 1px solid #7C1E1E !important;
}

.mainPart {
    display: flex;
    width: 100%;
   
    .actions{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .action{
            border-radius: 2px;
            color: #FFFFFF;
            padding: 5px;
            width: 150px;
            display: flex;
            justify-content: center;
        }
        .addToCart{
            background-color: #A03037;
        }
        .wishlist{
            display: flex;
            align-items: center;
            background-color: #333333;
            display: flex;
            gap: 5px;
        }
    }
}

.mainImage {
    padding: 20px 25px;
    height: fit-content;
    border: 1px solid #D1D1D1;
    border-radius: 1px 1px 1px 0px;
}

.mainComponentLeft{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.mainComponent{
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 100px;

}
hr{
    border: 1px solid #9D9D9D;
    margin: 25px 0px;
}

.bookDetailContent {
    
    .title {
        font-size: 28px;
        line-height: 37px;
    }

    .author {
        font-size: 18px;
        color: #878787;
        line-height: 24px;
        padding: 5px 0;
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 5px;

        .stars {
            display: flex !important;
            align-items: center;
            border-radius: 1px;
            width: fit-content;
            background-color: #388E3C;
            color: #FFFFFF;
            padding: 0 5px;
            
        }
        .count {
            color: #878787
        }

    }

    .price {
        margin:20px 0;
        display: flex;
        gap: 5px;
        align-items: center;
        .currentPrice{
            text-align: left;
            font-family:Roboto;
            font-size: 30px;
            letter-spacing: 0px;
            color: #0A0102;
            opacity: 1;
        }
        .lastPrice{
            color: #878787;
        }
    }
    
}

.bookDescription{
    .title{
        font-size: 15px;
        color: #878787;;
    }
    .bookDetailPara{
        padding-left: 10px;
        font-size: 12px;
        line-height: 16px;
    }
}


.customerReview{
    
    .title{
        font-size: 18px;
        margin-bottom: 10px;
        
    }
    .ratingBox{
        background-color: #F5F5F5;
        border-radius: 2px;
        padding: 20px;
        width: 100%;
        .title{
            font-size: 12px;
        }
        .stars{
            display: flex;
            margin:10px 0px
        }
        .feedback{
            border-radius: 3px;
            background-color: #FFFFFF;
            padding: 10px;
            padding-bottom: 25px;
            color: #707070;
            input{
                border:none;
                width: 100%;
                padding: 5px 2px;
            }
            margin-bottom: 10px;
        }
        .submitButton{
            display: flex;
            justify-content: end;
            button{
                background-color: #3371B5;
                color:#FFFFFF;
                border: none;
                border-radius: 3px;
                padding: 5px 10px;
            }

        }
        
    }

    .reviewComments{
       height: 150px;
        .comment{
            display: flex;
            margin-top: 15px;
            gap: 10px;
           
            .profilePic{
                display: flex;
                height: 27px;
                width: 27px;
                font-size: 11px;
                background-color: #F5F5F5;
                // border: 1px solid #E4E4E4;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                // flex:1
                
            }
            .stars{
                display: flex;
            }
            .name{
                font-size:15px;
                color: #0A0102;
            }
            .feedback{
                color:#707070;
                font-size: 12px;
            }

        }
    }
    
}

.reviewComments{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: hidden;
    -ms-overflow-style: none;
}
 
.reviewComments::-webkit-scrollbar {
    display: none;
}
.feedback input{
    outline: none;
}